### Tidy Tuesday in Python: Week 21

This code was written by Hemant Rattey to imitate the salaries raincloud plot that I made in R. His Twitter handle is @hemantrattey and his GitGHub username is hemantrattey.

In [2]:
#load packages
import os
import pandas as pd
from plotnine import *
import numpy as np

In [3]:
#load data
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-05-18/survey.csv')
df

,timestamp,how_old_are_you,industry,job_title,additional_context_on_job_title,annual_salary,other_monetary_comp,currency,currency_other,additional_context_on_income,country,state,city,overall_years_of_professional_experience,years_of_experience_in_field,highest_level_of_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26227,5/17/2021 17:42:33,25-34,Media & Digital,Senior Reporter,Trade publication,85000,2000.0,USD,NaN,NaN,USA,New York,New York City,5-7 years,5-7 years,College degree,Woman,White
26228,5/17/2021 17:46:38,35-44,Nonprofits,Production and Workflow Manager,NaN,40000,NaN,USD,NaN,NaN,USA,Pennsylvania,Pittsburgh,11 - 20 years,2 - 4 years,College degree,Woman,Asian or Asian American
26229,5/17/2021 17:47:30,25-34,Computing or Tech,Chief of Staff,NaN,148000,29000.0,USD,NaN,NaN,USA,California,Bay Area,11 - 20 years,11 - 20 years,Master's degree,Woman,White
26230,5/17/2021 18:20:07,25-34,"Marketing, Advertising & PR",Digital Marketing Manager,"Small agency. I manage a team of ~15 people, b...",65000,5000.0,USD,NaN,NaN,United States,Washington,Seattle,2 - 4 years,2 - 4 years,College degree,Woman,White
26231,5/17/2021 19:48:52,35-44,Law,Knowledge Management Manager,NaN,146192,3850.0,USD,NaN,NaN,United States,Michigan,Troy,11 - 20 years,8 - 10 years,Master's degree,Woman,White

In [5]:
#copy dataframe
survey_df = df.copy()

In [ ]:
#make job titles all lowercase
survey_df['job_title'] = survey_df['job_title'].apply(lambda x : x.lower())

In [6]:
#jobs of interest
jobs = ["software engineer", "software developer", "project manager", "data scientist", "data analyst", "business analyst", "web developer", 'senior software engineer', 'engineering manager', 'director of engineering']
#country of interest is United States
countries = ["US", "United States", "usa", "us", "Unite States", "United States", "United States of America",
        "united states", "U.S", "U.S.", "United states", "U.S.A.", "United States Of America", "Uniyed states",
        "Usa"]
#subset
tech_jobs_us= survey_df[(survey_df['job_title'].isin(jobs)) & (survey_df['country'].isin(countries))]
tech_jobs_us

,timestamp,how_old_are_you,industry,job_title,additional_context_on_job_title,annual_salary,other_monetary_comp,currency,currency_other,additional_context_on_income,country,state,city,overall_years_of_professional_experience,years_of_experience_in_field,highest_level_of_education_completed,gender,race
45,4/27/2021 11:04:04,25-34,Nonprofits,project manager,NaN,66625,1500.0,USD,NaN,NaN,US,Massachusetts,Boston,8 - 10 years,8 - 10 years,College degree,Woman,"Hispanic, Latino, or Spanish origin, White"
215,4/27/2021 11:06:51,35-44,Engineering or Manufacturing,software engineer,NaN,139000,9000.0,USD,NaN,NaN,United states,Washington,Seattle,11 - 20 years,11 - 20 years,College degree,Woman,White
230,4/27/2021 11:07:05,18-24,Business or Consulting,data analyst,NaN,62000,NaN,USD,NaN,NaN,United States,Massachusetts,Braintree,1 year or less,1 year or less,College degree,Woman,White
321,4/27/2021 11:08:11,35-44,Computing or Tech,software engineer,NaN,156000,189000.0,USD,NaN,"Salary, stock, bonus",United States,Massachusetts,Metro Boston,21 - 30 years,21 - 30 years,Master's degree,Other or prefer not to answer,Another option not listed here or prefer not t...
378,4/27/2021 11:09:02,35-44,Computing or Tech,business analyst,NaN,85000,7000.0,USD,NaN,NaN,United States,Pennsylvania,Philadelphia,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,5/11/2021 18:28:50,25-34,"Marketing, Advertising & PR",project manager,NaN,88400,NaN,USD,NaN,NaN,United States,District of Columbia,"Washington, DC",5-7 years,5-7 years,College degree,Woman,"Hispanic, Latino, or Spanish origin"
26139,5/13/2021 17:38:47,35-44,Computing or Tech,software engineer,NaN,126000,10000.0,USD,NaN,NaN,United States,New York,New York,5-7 years,2 - 4 years,College degree,Woman,White
26177,5/14/2021 19:47:03,45-54,Computing or Tech,senior software engineer,NaN,175000,50000.0,USD,NaN,NaN,US,Massachusetts,Cambridge,21 - 30 years,21 - 30 years,College degree,Man,"Asian or Asian American, White"
26194,5/15/2021 22:39:42,25-34,Engineering or Manufacturing,project manager,NaN,170000,NaN,USD,NaN,NaN,US,Texas,Midland,8 - 10 years,8 - 10 years,College degree,Woman,"Hispanic, Latino, or Spanish origin, White"
26210,5/17/2021 12:47:21,25-34,Education (Higher Education),data analyst,NaN,47000,NaN,USD,NaN,NaN,United States,Virginia,Alexandria,5-7 years,2 - 4 years,College degree,Man,White

In [10]:
#create plot
from mizani.formatters import currency_format
p = (
    ggplot(tech_jobs_us, aes(x = 'job_title', y = 'annual_salary', fill = 'job_title'))
    + geom_violin(position = position_nudge(x = 0.25, y = 0), alpha = 0.8, style = 'right')
    + geom_point(aes(y = 'annual_salary', color = 'job_title'), position = position_jitter(width = 0.15), size = 1, alpha = 0.5)
    + geom_boxplot(alpha = 0.7, width = 0.3)
    + scale_y_continuous(limits = [50_000, 300_000], labels=currency_format(big_mark=','))
    + guides(fill = False, color = False)
    + coord_flip()
    + labs(x = "", y = 'Annual Salary')
    + theme(
        figure_size=(25,16), 
        # Axis 
        axis_title_y = element_blank(), 
        axis_title_x = element_text(family="monospace", size=24, color="white"),
        axis_text_y = element_text(family="monospace", size= 24, color="white"),
        axis_text_x = element_text(family="monospace", size=18, color="white", angle=45),
        axis_ticks = element_blank(),
        axis_line = element_blank(),
        # Panel and Background
        panel_grid_major = element_line(color="#222222"),
        panel_grid_minor = element_line(color="#222222"),
        panel_background = element_rect(fill = "black"),
        plot_background = element_rect(fill = "black"),
        )
)
#show plot
p
#save plot
p.save("salaries_Python.png")

C:\Users\Moria\anaconda3\lib\site-packages\plotnine\ggplot.py:719: PlotnineWarning: Saving 25 x 16 in image.
C:\Users\Moria\anaconda3\lib\site-packages\plotnine\ggplot.py:722: PlotnineWarning: Filename: salaries_Python.png
C:\Users\Moria\anaconda3\lib\site-packages\plotnine\layer.py:324: PlotnineWarning: stat_ydensity : Removed 22 rows containing non-finite values.
C:\Users\Moria\anaconda3\lib\site-packages\plotnine\layer.py:324: PlotnineWarning: stat_boxplot : Removed 22 rows containing non-finite values.
C:\Users\Moria\anaconda3\lib\site-packages\plotnine\layer.py:401: PlotnineWarning: geom_point : Removed 22 rows containing missing values.